<div *ngIf="enableBackBtn" id="header" class="row grey lighten-2">
    <div class="col s6">
        <a id="backBtn" class="waves-effect waves-teal btn-flat grey lighten-2" (click)="goBack()"><i class="material-icons">arrow_back</i></a>
        <span class="nav-title">{{headerTitle}}</span>
    </div>
    <div *ngIf="enableDropdownBtn" class="col s2 offset-s4">
        <ul id="dropdownHeader" class="dropdown-content">
            <li><a href="#!" class="orange-text">Nouvelle bibliothèque</a></li>
            <li><a href="#!" class="orange-text">Comptes</a></li>
            <li><a href="#!" class="orange-text">Parametres</a></li>
            <li><a [routerLink]="['/login']" class="orange-text">Deconnexion</a></li>
        </ul>
        <a class="btn-flat dropdown-button" data-activates="dropdownHeader"><i class="material-icons">menu</i></a>
    </div>
</div>
<router-outlet></router-outlet>